@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import "tailwindcss";

::-webkit-scrollbar{
  width: 8px;
  position: fixed;
  transition: opacity 0.3s;
}
html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

*{
  font-family: "Roboto Flex", sans-serif;
  box-sizing: border-box;
}

@theme {
  --color-bg-primary: #06141b;       /* Main background */
  --color-bg-secondary: #11212d;     /* Section or layered background */
  --color-bg-surface: #253745;       /* Cards, containers, inner boxes */

  --color-border-muted: #4A5C6A;     /* Borders, icons, subtle elements */

  --color-text-muted: #9BA8AB;       /* Secondary text, descriptions */
  --color-text-primary: #CCD0CF;     /* Main headings, primary text */
  --color-deepTeal: #103941;     /* Main headings, primary text */
}

.text-logo{
  font-family: "Sofia", cursive;
}

#bannerContent{
  font-family: "League Gothic", sans-serif;
}